<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <!--
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    -->
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8890/stylesheets/screen.css" media="screen" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Exception Beautifier</title>
</head>

<body>
    <div id="container" ng-controller="ExBeautifierCtrl">
        <div class="inner">

            <a href="https://github.com/staxmanade/ExceptionMessageBeautifier">
                <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
            </a>

            <header>
                <h1>Exception Message Beautifier</h1>
            </header>

            <section id="about">
                <h3>What is this?</h3>
                <p>
                    Have you ever taken a single line .net exception message, pasted it in your favorite text editor and added new lines just so you could read the stacktrace?
                    <a href="#" ng-click="showExample()">See example...</a>
                    <div class="check-element animate-show" ng-show="shouldShowExample">
                        Paste this:
                        <pre>System.Exception: Hello Exception!   at TestExceptionGenerator.Spike.GetException() in c:\Code\personal\DotNetExceptionMessageFormatter\TestExceptionGenerator\Spike.cs:line 22   at TestExceptionGenerator.Spike.<genericexception>b__0() in c:\Code\personal\DotNetExceptionMessageFormatter\TestExceptionGenerator\Spike.cs:line 13   at TestExceptionGenerator.Extensions.GetExceptionString(Action action) in c:\Code\personal\DotNetExceptionMessageFormatter\TestExceptionGenerator\Spike.cs:line 34</pre>
                        And you'll get this:
                        <pre>System.Exception: Hello Exception!
   at TestExceptionGenerator.Spike.GetException() in c:\Code\personal\DotNetExceptionMessageFormatter\TestExceptionGenerator\Spike.cs:line 22
   at TestExceptionGenerator.Spike.<genericexception>b__0() in c:\Code\personal\DotNetExceptionMessageFormatter\TestExceptionGenerator\Spike.cs:line 13
   at TestExceptionGenerator.Extensions.GetExceptionString(Action action) in c:\Code\personal\DotNetExceptionMessageFormatter\TestExceptionGenerator\Spike.cs:line 34</pre>
                    </div>
                </p>
            </section>

            <section id="main_content">
                <h3>Paste your exception message below...</h3>
                <div class="exBeautifier" ng-controller="ExBeautifierCtrl">
                    <div>
                        <input class='exInput' placeholder="Paste an exception message here" type="text" ng-model="exInput" />
                    </div>
                    <div>
                        <textarea class='exOutput' ng-model="exOutput" wrap="off"></textarea>
                    </div>
                </div>

            </section>

            <footer>
                Exception Beautifier was created and maintained by <a href="https://github.com/staxmanade">staxmanade</a>
            </footer>

            <script type="text/javascript">
                var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
                document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
                try {
                    var pageTracker = _gat._getTracker("UA-1017448-5");
                    pageTracker._trackPageview();
                } catch (err) { }
            </script>

        </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-animate.min.js"></script>

    <script>
        //BEGIN HACK: until I learn how to properly depend on a commonjs style package in the browser :)
        exports = {}
    </script>
    <script src="https://rawgithub.com/staxmanade/ExceptionMessageBeautifier/master/src/ExceptionMessageBeautifier.js"></script>
    <script src="javascripts/main.js"></script>
</body>
</html>
